<div class="row m-3">
  <nav class="navbar navbar-light my-nav">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><%= link_to 'Главная страница', root_path %></span>
      <%= image_tag "tenor.gif", class: 'gif' %>
    </div>
  </nav>
</div>