<h1> Form</h1>

<%= form_with model: meet, url: meets_path(@meet), method: :post do |form| %>
  <%= form.label :day %>
  <%= form.select :day, ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье'] %>

  <%= form.submit 'Go' %>
<% end %>
