<h1>Приглашение</h1>

<h2>
  Привет! Я хочу пригласить тебя погулять.
</h2>

<h2>
  Не знаю как это делать, и ничего лучше не придумал чем написать этот сайт.
</h2>

<p>
  Если тебе интересно, то, заполни пожалуйста поля ниже.
</p>

<div class="form">
  <%= render 'form', meet: @meet %>
</div>
