
<div class="row m-3">
  <div class="r shadow-sm p-4 message">
    <h1>Приглашение</h1>
    <p class="subtitle">
      Привет, Мадина! Я хочу пригласить тебя погулять.<br>
      Не знаю как это делается, <br>
      и ничего лучше не придумал чем написать этот сайт.<br>
    </p>
  </div>
</div>

<div class="row m-3">
  <div class="left-info r shadow-sm col-sm-12 col-xl-8">
    <%= render 'form', meet: @meet %>
  </div>

  <div class="col-sm-12 col-xl-4 p-4">
    <p>
      Если тебе интересно, то, заполни пожалуйста эти поля.<br>
      Давай определимся когда нам будет удобно встретиться.
    </p>

    <%= image_tag 'cringe.jpg', class: 'cringe' %>
  </div>
</div>

<div class="links r shadow-sm row m-3 p-3">
  <h3 class="mb-3">(Полезные) ссылки:</h3>
  <div class="col-6">
    <a href="https://github.com/birzhans/romantic">Github project repo</a>
  </div>

  <div class="col-6">
    <a href="https://t.me/cmdf1"><i class="material-icons">comment_bank</i>Telegram</a>
  </div>
</div>
