<div id="show">
  <h1>Класс! Мы запланировали встречу на эту дату и время:</h1>
  <h1>День: <%= @meet.day %></h1>

  <h1>Время: <%= @meet.time %></h1>

  <h1>Место: <%= @meet.place %></h1>

  <h1>Комментарий: <%= @meet.optional %></h1>
</div>