<div id="show" class="m-3">
  <h1>Класс! Вот детали встречи:</h1>
  <h3>День: <%= @meet.day %></h1>

  <h3>Время: <%= pretty_time @meet.time %></h1>

  <h3>Место: <%= @meet.place %></h1>

  <h3>Комментарий: <%= @meet.optional %></h1>
</div>