/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */
@import "bootstrap";
.effect {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.r {
  border-radius: 25px;
}

.effect img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  margin: 20px 60px 60px 20px;
}

.my-nav {
  border-radius: 25px;
  padding: 20px;
  background-color: #f9d5e5;
}

.gif {
  height: 80px;
  border-radius: 20px;
}

.main-message {
  background-color: #cdddf7;
  border-radius: 15px;
  // padding: 10px;
  // margin: 10px 0px 0px 5px;
}

.message {
  background-color: #7FDBFF;
}

.subtitle {
  font-size: 20px;
}

.links {
  background-color: #ffbfd3;
}

.form {
  border-radius: 15px;
  padding: 20px;
  // margin: 10px 0px 0px 5px;
  border: 3px solid #2E2F30;
}

.left-info {
  background-color: #39CCCC;
}

#area {
  width: 70%;
}

.hide {
  display: none;
}

.cringe {
  width: 70%;
}

.test-class {
  display: none;
}